body{
    background-image: url("../img/day2.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
h1{
    font-size: 100px;/* điểm ảnh */
    font-family: 'Be Vietnam';/* font chữ*/
    font-weight: 400;/* giải font từ 100~400 là bthg còn căng là 900*/
    line-height: 1.5;
    text-decoration: none ;/* đường gạch dưới (underline);gạch ngang(line-through);gạch trên (overline)*/
    color: #ff0000 ;
    background: black;
    border: 10px solid #ff0000;
    text-align: center;/* left right giustify-căn đều*/

}