.tab{
    overflow: hidden;
    background-color: white;
}
.tab button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
}
div.tab button:hover {
    background-color: #ddd;
}
.tabcontent {
    display: none;
    padding: 8px 12px;
    border-top: 1px solid #ccc;
}
.tab button:focus{
    border: 1px solid #ccc;
    border-bottom: 2px solid white;
}
